    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="button" class="btn ads btn-outline-{{add_list.visible ? 'primary': 'danger'}}" 
                [ngClass]="{'active': currentBtn === 0}" (click)="onSelect(add_list, 0)" title="{{add_list.ad_id }}"> BTCINR</button>
            <!-- <ngb-pagination [(page)]="page"  [pageSize]="pageSize"  [collectionSize]="collectionSize" (pageChange)="getAdsData($event)"></ngb-pagination> -->
                <div *ngIf="showdetails" class="details">
                    <li style="padding-left: 10px;"> Margin Limit : <a   class="f_6 _price text">{{val }}%</a></li>
                    <li style="padding-left: 10px;"> Wazirx Buy Price :
                      <a class="f_6 _price text-{{priceUpdate ? 'success' : 'primary'}}">{{wazirxBidPrice}}</a></li>
                    <li style="padding-left: 10px;"> Wazirx Upper Price :
                        <a class="f_6 _price text-{{priceUpdate ? 'success' : 'primary'}}">{{wazirxUPPrice}}</a></li>

                    <li style="padding-left: 10px;"> Our Ads Price : <a class="f_6 _price text-{{priceUpdate ? 'success' : 'primary'}}">{{adsPrice}} </a></li>

                </div>
    </div>
