<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="competitors-container">
    <ul>
      <li>
        <form
          [formGroup]="setLimitForm"
          class="comp_list"
          (ngSubmit)="onSubmit()"
        >
          <input
            class="col-xs-12 col-sm-6 col-md-8"
            type="text"
            formControlName="upLimit"
            placeholder="Enter Margin Limit"
          />

          <button
            
            type="submit"
            class="btn btn-outline-success"
          >
            UPDATE
          </button>
        </form>
      </li>

      <li class="comp_list">
        <input
          class="col-xs-12 col-sm-6 col-md-8"
          type="text"
          [(ngModel)]="competitor_ID"
          placeholder="Enter AD Competitor ID"
        />
        <!-- onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" name="competitor_ID" -->
        <button
          
          type="button"
          (click)="onAddComp(competitor_ID)"
          class="btn btn-outline-success"
        >
          ADD
        </button>
      </li>
      <li
        style="padding: 10px 10px"
        
        class="comp_ids"
      >
        <span class="id_list" *ngFor="let comp_id of comp_list">
          <!-- {{comp_id.id}} {{comp_id.adsprice}} -->
          <a href="https://localbitcoins.com/ad/{{comp_id}}" target="_blank">{{comp_id}}</a>
          <a
            class="text-danger close_b"
            (click)="onRemoveCompById(comp_id)"
            >X</a
          ></span
        >
      </li>
    </ul>
  </div>
</div>
