<main  class="col-12" *ngIf="showChatBox">
  <header>
    <!-- <img src="assets/sample-profile.png" alt="" width="20px" /> -->
    <div>
      <h2>{{ currentChartUser?.seller.username }}</h2>
      <h3>{{ currentChartUser?.seller.last_online | date: "medium" }}</h3>
    </div>
    <!-- <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png"
      alt=""
    /> -->
  </header>
  <ul id="chat">
      <li *ngFor="let message of chatLists; let i = index;">
        <div class="you"  *ngIf="i % 2 === 0">
          <div class="entete receiver">
            <span class="status green"></span>
            <h2 class="capital-text">{{message.sender.name}}</h2>
          </div>
          <div class="message" *ngIf="!message.acDetails.ifsc">
            <div class="triangle"></div>
            <h3>{{message.msg}}</h3>
          </div>
        
          <div class="message" *ngIf="message.acDetails.ifsc">
            <div class="triangle"></div>
            <div class="bank-details">
              <div class="message">
                <p>Account No: {{message.acDetails.accNo}}</p>
                <p>IFSC Code: {{message.acDetails.ifsc}}</p>
                <p>Account Holder Name: {{message.acDetails.name}}</p>
              </div>
            </div> 
            <i class="fa fa-copy pointer" (click)="copyChat(message.acDetails)"></i>
          </div>
        </div>
        <div class="me" *ngIf="i % 2 !== 0">
          <div class="entete sender">
            <h2>You</h2>
            <span class="status blue"></span>
          </div>
          

          <div class="message">
            <div class="triangle"></div>
            <!-- <h2 class="capital-text">{{message.sender.name}}</h2> -->
            <h3>{{message.msg}}</h3>
          </div>
        </div>
      </li>
  </ul>
  <footer class="row">
    <textarea placeholder="Type your message" [(ngModel)]="postedMessage"></textarea>
    <img
      src="assets/msg_sent.png"
      alt=""
      (click)="sendMessage()"
      class="msg_send btn"
    />
  </footer>
</main>
