<nav id="navbar-example2" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="./">AlchemistPro</a>
    <ul class="nav nav-pills">
        <!-- <li *ngIf="!session" class="nav-item">
            <a class=" btn text-primary shadow-sm" (click)="showSession(true)">Session logs</a>
        </li>
        <li *ngIf="session" class="nav-item">
            <a class=" btn text-primary shadow-sm" (click)="showSession(false)">Open Orders</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" href="/report">DataBase Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trade">Trade Report</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link shadow-sm" [routerLink]="" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
